body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c303a;
    color: aliceblue;
    margin: 0;
}

a:link,
a:visited,
a:active {
    color: aliceblue;
}

a:hover {
    color: aqua;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    flex: 0 1 auto;
    text-align: center;
    margin: 1em;
    padding: 5px;
    list-style-type: none;
    border-radius: 10%;
}

nav a {
    text-decoration: none;
}

nav ul li {
    text-decoration: dotted;
    padding: 5px;
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#info h1 {
    margin-left: 1rem;
}

#info img {
    flex: 0 0 auto;
    border: 3px solid #8339b8;
    border-radius: 5%;
}

#avatar img,
#avatar p {
    flex: 1 1 auto;
    margin: 0px;
    text-align: center;
}

nav ul li {
    display: inline;
}
#about{
    padding: 5px;
}

blockquote {
    margin: 0;
}
.fadeout{
    color: rgba(240, 248, 255, 0.368);
}

blockquote ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

blockquote ul li {
    padding: 0.5em 0.2em;
    text-decoration: dotted;
    font-style: italic;
}

footer {
    margin: 0;
    text-align: center;
}

@media screen and (min-width: 500px) {

    #about,
    header {
        margin: 0 5%;
    }
}

@media screen and (min-width: 768px) {

    #about,
    header {
        margin: 0 25%;
    }
}
